<header class="navbar navbar-fixed-top ">
    <div class="container navbar navbar-expand-sm ue bg-dark mt-3 mb-3">
        <%= link_to "sample app" , root_path ,id: "logo"%>
        <nav >
            <ul class="nav navbar-nav navbar-right ">
                <li class="navbar-brand "><%= link_to "Home", root_path %> </li>
                <li class="navbar-brand "><%= link_to "Help", help_path %> </li>
                <li class="navbar-brand "><%= link_to "Log in", '#' %> </li>
            </ul>
        </nav>
    </div>
</header>